#cover{
  font-size: 40px;
  text-align: center;
}
#cover_image{
  width: 100%;
  padding-bottom: -45px;
}

.fixed {
    position:fixed;
    z-index:999;
    width: 100%;
    padding-top: 20px;
}

header {
  text-align: center;
  background-image: url("../images/gtavlogo.gif");
  background-size: cover;
  height: 500px;
  padding-top: 1px;
  margin-top: -22px;
}
.gucci{
  padding-top: 100px;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
  text-shadow: 2px 2px black;
}
.gucci2{
  padding-top: 125px;

}
h1{
  font-size: 50px;
}
.intro{
  padding-top: 10px;
}
.playerCars{
  text-align: center;
}
.intro{
  text-align: center
}
.marcusCars{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.naomiCars{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.paulCars{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mikeCars{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}
ol{
  border: 2px dashed grey;
  border-radius: 10px;
  height: 250px;
  overflow: auto;
}
.carGoesHere{
  padding-bottom: 10px
}
.carOfPower{
  margin-top: -31px;
  margin-bottom: -25px;
  font-family: 'Bangers', cursive;
  font-size: 25px
}
.leftList{
  height: 250px;
  width: 382px;
  overflow: auto;
}
.rightList{
  text-align: right;
  overflow: auto;
  height: 250px;
  width: 382px;
}
.dots{
  list-style-type:none;
  padding-right: 30px;
  border: 2px dashed grey;
  border-radius: 10px;
}
.selfDestruct{
  float: right;
}
.progress{
  margin-top: -26px;
  margin-bottom: -16px;
}
@media (max-width: 1000px) {
  header{
    height: 390px;
  }
  .gucci{
    padding-top: 50px;
  }
  .gucci2{
    padding-top: 45px;
  }
  .leftList{
    margin-left: -100px;
  }
}
